<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).firestore-sync</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.373541738171-mbhcdmh8de54psilqm1ttj9ngvsbaagf</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>373541738171-mbhcdmh8de54psilqm1ttj9ngvsbaagf.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-fetch</string>
		<string>background-processing</string>
		<string>audio</string>
	</array>
</dict>
</plist>
