<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_DB_URL</key>
	<string>https://cwgcdilkftfqpysjtnho.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3Z2NkaWxrZnRmcXB5c2p0bmhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3NTYwMzEsImV4cCI6MjA2ODMzMjAzMX0.ZjKncIR6tmI21HRrhjxsu8vgLvzIGb_FJ8toXI0N4Gk</string>
	<key>GOOGLE_API_KEY</key>
	<string>AIzaSyA1KYGdIvxGNwlB3y8BYu1qUE9Z8GUs9yA</string>
</dict>
</plist>
